{% extends 'base.html.twig' %}

{%  config_page {
        'title' : (form_action == 'create' ? 'page.add_new'|trans : 'page.edit'|trans),
        'breadcrumbs': {
            'Posts': path('posts_index')
        }
    }
%}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/webpack/Page/form.css') }}">
{% endblock %}

{% block content %}
    <div class="panel col-md-12">
        {{ form_start(form) }}
            <div class="section">
                <div class="page" data-page="1">
                    <h2>{{ 'page.singular'|trans }}</h2>

                    {{ form_row(form.name) }}
                    <div class="group">
                        {{ form_label(form.slug) }}
                        <div class="inline-group">
                            <button id="slug-button" type="button" class="ps" title="Generate slug from name">Slug</button>
                            {{ form_widget(form.slug) }}
                        </div>
                    </div>
                    {{ form_row(form.content) }}
                    <div class="group">
                        {{ form_widget(form.enabled) }}
                        {{ form_label(form.enabled) }}
                    </div>
                </div>
            </div>

            <div class="section">
                {{ form_widget(form.save) }}
                {{ form_widget(form['save&exit']) }}
                <a class="button bg-red" href="{{ path('pages') }}">{{ 'form.exit'|trans }}</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/webpack/Page/form.js') }}"></script>
{% endblock %}
