{% extends 'base.html.twig' %}

{%  config_page {
        'title' : 'post.plural'|trans,
        'breadcrumbs': {
            ('post.plural'|trans): false
        }
    }
%}

{% block stylesheets %}
    {{ encore_entry_link_tags('Post/index') }}
{% endblock %}

{% block content %}
<div class="panel col-md-12">
    <div class="tright mbottom-10">
        <a class="button" href="{{ path('posts_create') }}">{{ 'post.add_new'|trans }}</a>
    </div>

    {% if posts | length > 0 %}
    <table class="ps">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'table.title'|trans }}</th>
                <th>{{ 'table.status'|trans }}</th>
                <th>{{ 'table.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr class="post" data-post="{{ post.id }}">
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>
                    {% if post.enabled %}
                    <button type="button" class="ps enabled js-toggle-element-status" data-href="{{ path('_posts_toggle_status') }}">{{ 'status.enabled'|trans }}</button>
                    {% else %}
                    <button type="button" class="ps disabled js-toggle-element-status" data-href="{{ path('_posts_toggle_status') }}">{{ 'status.disabled'|trans }}</button>
                    {% endif %}
                </td>
                <td>
                    <a class="button bg-blue" href="{{ path('posts_edit', {post: post.id} )}}">{{ 'actions.edit'|trans }}</a>
                    <button class="ps button bg-red js-delete-element" data-href="{{ path('posts_delete', { post: post.id }) }}">{{ 'actions.delete'|trans}}</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert info">
            {{ 'alert.no_elements'|trans }}
        </div>
    {% endif %}
</div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('Post/index') }}
{% endblock %}
