<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Padawan Software | Blog{% endblock %}</title>

         <!-- Our theme -->
        <link rel="stylesheet" type="text/css" href="{{ asset('build/webpack/app.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block body %}
        <!-- Left lateral menu -->
        {{ include ('Partial/lateral_menu.html.twig') }}

        <!-- Page -->
        <div id="page">
            {% if has_header() %}
            {{ include ('Partial/content_header.html.twig')}}
            {% endif %}

            <!-- Page content-->
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- Load main js -->
        <script src="{{ asset('build/webpack/app.js') }}"></script>

        <!-- Display flash messages -->
        <script type="text/javascript">
            {% for message in app.flashes('success') %}
                toastr.success("{{ message }}");
            {% endfor %}
            {% for message in app.flashes('error') %}
                toastr.error("{{ message }}");
            {% endfor %}
        </script>

        <!-- Load view-dependant js -->
        {% block javascripts %}{% endblock %}
    {% endblock body %}
    </body>
</html>
